html {
  background: url("../img/cupcakes.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

/*body{
	height: 100%;
}


.wrapper{
	top: 0;
	height: 100%;
	background-color: rgba(255,255,255,0.3);
}*/
nav {
  width: 20%;
}
nav a {
  position: relative;
  display: block;
  margin: 50px 15px;
  outline: none;
  color: #ccc;
  text-decoration: none;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

nav a:hover,
nav a:focus {
  outline: none;
}

.navigation a {
  overflow: hidden;
  padding: 0 4px;
  height: 1em;
}

.navigation a span {
  position: relative;
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.navigation a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  color: #fff;
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navigation a:hover span,
.navigation a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.wrapper img {
  position: absolute;
  bottom: 20px;
  margin-left: 15px;
}
