html {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: auto;
}

video {
  width: 100%;
  /*	position: relative;
  */
}

.playbutton {
  width: 4em;
  height: 4em;
  border-radius: 3em;
  border: 10px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  margin: auto;
  top: 35%;
  z-index: 4;
  left: 50%;
}

.page-content {
  position: absolute;
  background-color: #eee;
  width: 100%;
  height: 600px;
  z-index: 10;
  top: 80%;
  left: 0;
}

.mainvideo {
  z-index: 3;
  position: absolute;
}

.mixloop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  width: 100%;
  margin-top: .5em;
}

.logo1, .logo2 {
  width: 19%;
  margin: auto;
}
.logo1 a, .logo2 a {
  position: relative;
  display: inline;
  outline: none;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 2.35em;
}

.logo1 {
  margin-bottom: 4px;
}
.logo1 a {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.logo1 a span {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.logo1 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.logo1 a:hover span,
.logo1 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.logo1 a:hover span::before,
.logo1 a:focus span::before {
  background: #E9CCE2;
}

.logo2 a {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.logo2 a span {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.logo2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.logo2 a:hover span,
.logo2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.logo2 a:hover span::before,
.logo2 a:focus span::before {
  background: #CAEAF0;
}

.pink span {
  background: #E9CCE2;
}

.green span {
  background: #CAEAF0;
}

.pink:focus span {
  background: #CAEAF0;
}

.green:focus span {
  background: #E9CCE2;
}

.logo2 .pink:hover span::before {
  background: #E9CCE2;
}

.logo1 .green:hover span::before {
  background: #CAEAF0;
}
