@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular.eot');
    src: url('fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular.woff') format('woff'),
         url('fonts/roboto-regular.ttf') format('truetype'),
         url('fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ========================================================================================== */

#bg {
  position: fixed; 
  top: -50%; 
  left: 0; 
	
   Preserve aspet ratio 
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
}

body{
	font-family: 'robotoregular', Helvetica, Arial, sans-serif;
	width: 100%;
	margin: 0 auto;
	font-size: 1em;
	line-height: 1.5em;

	
}

#container{
	position: absolute;
}

.headline span{
	font-size: 18px;
	font-weight: bold;
	display: inline;
	color: #dd0017;
}

#bio p{
	
	text-align: justify;
	font-size: 13px;
	line-height: 18px;
	
}

#bio{
	width: 900px;
	margin-top: 50px;
	margin-left: 50px;
	background: #fff;
	opacity: 0.6;
	padding: 15px;
}


#experienceskills{
	width: 1000px;
	margin-left: 50px;
	overflow: hidden;
}

#experience p{
	
	text-align: justify;
	font-size: 13px;
	line-height: 18px;

	
}

#experience{
	float: left;
	width: 400px;
	margin-top: 50px;
	background: #fff;
	opacity: 0.5;
	padding: 15px;
}


#skills p{
	
	text-align: justify;
	font-size: 13px;
	line-height: 18px;
	
}

#skills{

	float: left;
	width: 400px;
	margin-top: 50px;
	margin-left: 70px;
	background: #fff;
	opacity: 0.6;
	padding: 15px;
	padding-bottom: 51px;
}



#email{
	height: 270px;
	background-color: #333333;
	width: 140%;
	margin-top: 40px;
	left: 0;
}


#email-text{
	padding-top: 20px;
	padding-left: 50px;
	width: 100px;
	float: left;
}

#email-text p{
	font-size: 15px;
	color: #fff;
	line-height: 18px;
}

#email-text p span{
	color: #e43025;
}


/*#email-form{
	display: block;

}*/

#email-form form{
	padding-top: 35px;
}

input{
	margin-left: 30px;
	height: 30px;
	font-family: 'robotoregular', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 200px;
	border-radius: 5px;
	border: 1px solid #febe00; 
}

input placeholder{
	font-family: 'robotoregular', Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #cccccc;
}

input:hover{
	border-color: #e43025;
}

button{
	height: 33px;
	width: 100px;
	background-color: #e43025;
	color: #ffffff;
	font-family: 'robotoregular', Helvetica, Arial, sans-serif;
	font-size: 12px;
	border: none;
	border-radius: 5px;
	margin-left: 180px;
}

button:hover{
	background-color: #f31b10;
	cursor: pointer;
}

.email{
	margin-left: 180px;
	width: 440px;
}








